.header{
  height: 30px;
  font-size: 12px;
  line-height: 30px;
}
.header-item{
  float: left;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  padding: 0;
  color: #9c9c9c;
  list-style: none;
  margin-left: 30px;
}
.home{
  width: 100%;
}
.banner{
  height: 140px;
  padding: 0 10px;
  margin: 15px 0;
  .van-swipe{
    height: 100%;
    width: 100%;
  }
  img{
   display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }
 .van-swipe-item{
    height: 100%;
  }
}
.match{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px;
}
.match-item{
  display: flex;
  align-items: center;
}
